<% provide(:title, 'Help') %>

<h1>Help</h1>
<p>
	Get help on this application at <a href="http://zotmedia.net/help">zotmedia.net </a>
	To get Help on how to use this application, got to <a href="http://zotmedia.net/wiki">zotmedia wiki </a>page
</p>